.dub
docs.json
__dummy.html
docs/
/endless_industry
endless_industry.so
endless_industry.dylib
endless_industry.dll
endless_industry.a
endless_industry.lib
endless_industry-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
libraylib.so.550
libraylib.so.5.5.0
libraylib.so
atlas.png

# sqlite things
*.sqlite